/*general body properties*/
body {
    padding: 70px;
    background-color: #9dcc81;
}

/*colour styling*/
div {
    background-color: #7ba867;
    height: auto;
    width: 600px;
}

div p,
h2 {
    background-color: #177530;
}

a, h2 {
    color: white;
}

/*image properties*/
img {
    height: 300px;
    width: auto;
    padding: 20px;
}

#food {
    height: fit-content;
    width: auto;
}

/*font properties*/
*{
    font-family: monospace;
}

h1 {
    font-size: 50px;
}

a,
h2 {
    font-size: 25px;
}

p,
li {
    font-size: 20px;
}

